.menu
{margin: 3%;
 background-color: burlywood}

 .menu-item 

 {
     margin: 3%
 }

 body
{
    background-color: burlywood
}
.main-title

{
    padding-left: 46%
}
.card-body
{
    background-color: burlywood;
    color: beige;
margin: 2%;
}
.btn 
{
    background-color: rgb(141, 141, 78);
    color: rgb(199, 174, 142);
    border: solid ;
}