
.logo

{
    width: 40%;
height: auto;
}

body

{
    background-color: white
}

.selected
{
    margin-bottom: 4%;
    
}

.non-selected
{
    padding-bottom: 0px;
    
}

.non-selected:hover
{
    
    padding-bottom: 5px;
    transition: all 0.5s ease-out;
}
.Main-title

{
    margin-left: 45%;
}

.card

{
   
    margin: 2%;
}

.row

{
    margin-left: 5%;
}

.carousel-inner
{
    width: 30%;
    height: 30%;
}
body

{
    background-image: url("Assets/HomePage.jpg")
}

.btn-outline-dark
{
    margin-left: 80%
}

.b1
{
    background-image: url("Assets/HomePage.jpg");
    
    }

.macho
{
    padding-left: 23%;
}
.hembra

{
    padding-left: 23%;
}

.sexo
{
    padding-left: 6%;
}

 .descp
{
    width: 79%;
    margin-left: 21%;
    
}


